<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Story del Proyecto {{ vm.proyecto.nombre }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripcion corta</th>
                <th>Estado</th>
                <th>Tamanho</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="us in vm.userstories">
                <td>{{ us.nombre }}</td>
                <td>{{ us.descripcionC }}</td>
                <td>{{ us.estado }}</td>
                <td>{{ us.tamanho }}</td>
                <td>
                    <a ng-click="vm.editar(us)" class="btn btn-info">Editar</a>
                    <a ng-click="vm.verHistorial(us)" class="btn btn-info">Ver Historial</a>
                    <a ng-click="vm.agregarUS(us)" class="btn btn-info">Agregar a Sprint Activo</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">User Story {{ vm.userstory.nombre }}</h3>
    </div>
    <div class="panel-body">
        <form name="alta_proyectos" class="form-horizontal">
            <!--debemos tener nombre, owner automatico, cliente, estado, fecha_ini, fecha_fin, observacion-->
            <fieldset>
                <legend>Datos del User Story</legend>

                <div class="form-group">
                    <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="inputNombre"
                               placeholder="Ex. Disenhar Diagrama de flujo" type="text"
                               ng-model="vm.userstory.nombre">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Seleccione un Flujo</label>

                    <div class="col-lg-10">
                        <select ng-model="vm.idFlujo" ng-options="f.index as e.nombre for e in vm.flujos"
                                ng-change="vm.agregarFlujo()">
                            <option value="">-- elegir flujo --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Seleccione el Estado</label>

                    <div class="col-lg-10">
                        <select ng-model="vm.idEstado.e" ng-options="e as e.estado for e in vm.estados"
                                ng-change="vm.agregarEstado()">
                            <option value="">-- elegir estado --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputDescripcion" class="col-lg-2 control-label">Descripcion corta</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="inputDescripcion"
                               placeholder="Ex. El disnho refleja los procesos de negocio." type="text"
                               ng-model="vm.userstory.descripcionC">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-fab-success" ng-click="vm.clear()">Cancel</button>
                        <button class="btn btn-primary" ng-click="vm.guardar()">Guardar</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>