<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Sprints</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Fecha de inicio</th>
                <th>Duracion</th>
                <th>Estado</th>
                <th>Restante</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="s in vm.sprints">
                <td>{{ s.fecha_ini }}</td>
                <td>{{ s.duracionHoras }}</td>
                <td>{{ s.estado }}</td>
                <td>{{ s.horasRest }}</td>
                <td>
                    <a ng-click="vm.editar(s)" class="btn btn-info">Editar</a>
                    <a ng-click="vm.irUserStories(s)" class="btn btn-info">Agregar US</a>
                    <a ng-click="vm.irSprintBl(s)" class="btn btn-info">Sprint Backlog</a>
                    <a ng-click="vm.irProductBl(s)" class="btn btn-info">Product Backlog</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="panel panel-primary" ng-show="vm.isEdit">
    <div class="panel-heading">
        <h3 class="panel-title">Sprint de {{ vm.proyecto.nombre }}</h3>
    </div>
    <div class="panel-body">
        <form name="alta_proyectos" class="form-horizontal">
            <!--debemos tener nombre, owner automatico, cliente, estado, fecha_ini, fecha_fin, observacion-->
            <fieldset>
                <legend>Datos del Sprint</legend>

                <div class="form-group">
                    <label for="fecha_ini_input" class="col-lg-2 control-label">Fecha Inicio</label>
                    <input type="date" id="fecha_ini_input" name="fecha_ini" ng-model="vm.sprint.fecha_ini"
                           placeholder="yyyy-MM-dd" min="2013-01-01" max="2017-01-01" required/>

                    <div role="alert">
                        <span class="error" ng-show="vm.sprint.fecha_ini.$error.required">
                            Requerido!</span>
                        <span class="error" ng-show="vm.sprint.fecha_ini.$error.date">
                            Fecha invalida!</span>
                    </div>

                </div>

                <div class="form-group">
                    <label for="inputDuracion" class="col-lg-2 control-label">Duracion</label>

                    <div class="col-lg-10">
                        <input class="form-control" id="inputDuracion"
                               placeholder="Ex. 30.00" type="text"
                               ng-model="vm.sprint.duracionHoras">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Seleccione el Estado</label>

                    <div class="col-lg-10">
                        <select ng-model="vm.idEstado.e" ng-options="e as e.estado for e in vm.estados"
                                ng-change="vm.agregarEstado()">
                            <option value="">-- elegir estado --</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="reset" class="btn btn-danger" ng-click="vm.clear()">Cancel</button>
                        <button class="btn btn-primary" ng-click="vm.guardar()">Guardar</button>
                        <!-- <button class="btn btn-primary" ng-click="vm.irFlujos()">Crear Flujo</button> -->
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>