{% load compress %}
{% load staticfiles %}

{% compress js %}

    <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/material.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/bootstrap-material-design/dist/js/ripples.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/underscore/underscore.js' %}"></script>
    <!-- <script type="text/javascript" src="{/quitar/% static 'bower_components/angular-bootstrap/ui-bootstrap-tpls.js' %}"></script> -->

    <script type="text/javascript" src="{% static 'bower_components/angular/angular.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-cookies/angular-cookies.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/ngDialog/js/ngDialog.js' %}"></script>
    <script type="text/javascript" src="{% static 'lib/snackbarjs/snackbar.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/Chart.js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>

    <script type="text/javascript" src="{% static 'bower_components/d3/d3.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower_components/angular-charts/dist/angular-charts.min.js' %}"></script>


    <script type="text/javascript" src="{% static 'javascripts/managers.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/managers.config.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/managers.routes.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/autentication.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/services/autentication.service.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/crearUsuario.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/authentication/controllers/login.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/layout/layout.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/navbar.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/utils/utils.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/utils/services/snackbar.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/layout/controllers/index.controller.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/proyecto/proyecto.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/proyecto/controllers/proyecto.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/proyecto/services/proyectos.services.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/flujo/flujo.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/flujo/controllers/flujo.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/flujo/services/flujo.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/actividad/actividad.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/actividad/controllers/actividad.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/actividad/services/actividad.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/sprint/sprint.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sprint/controllers/sprintbl.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sprint/controllers/sprint.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/sprint/services/sprint.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/userstory/userstory.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/userstory/controllers/productbl.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/userstory/controllers/userstory.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/userstory/services/userstory.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/kanban/kanban.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/kanban/controllers/kanban.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/kanban/services/kanban.services.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/historialus/historialus.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/historialus/controllers/historial.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/historialus/controllers/historialus.controller.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/historialus/services/historialus.service.js' %}"></script>

    <script type="text/javascript" src="{% static 'javascripts/table/table.module.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/table/controllers/table.controller.js' %}"></script>

{% endcompress %}
