<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Kanban del Flujo {{ vm.flujo.nombre }}</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-hover ">
            <thead>
            <tr>
                <th>Analisis</th>
                <th>Disenho</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="us in vm.kanbanus">
                <td>{{ us.analisis.nombre }}</td>
                <td>{{ us.disenho.nombre }}</td>
                <td>
                    <a ng-click="vm.avanzar(us)" class="btn btn-info">Avanzar US</a>
                    <a ng-click="vm.retrasar(us)" class="btn btn-info">Retrasar US</a>
                    <a ng-click="vm.registrarTrabajo(us)" class="btn btn-info">Registrar Trabajo</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>